
  .bg-red{    background: #757070;}
  .card{padding: 5px;}
  .number-input input[type="number"] {
-webkit-appearance: textfield;
-moz-appearance: textfield;
appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.number-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number-input button {
-webkit-appearance: none;
background-color: transparent;
border: none;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 0;
position: relative;
}

.number-input button:before,
.number-input button:after {
display: inline-block;
position: absolute;
content: '';
height: 2px;
transform: translate(-50%, -50%);
}

.number-input button.plus:after {
transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
text-align: center;
}

.number-input.number-input {
border: 1px solid #ced4da;
width: 7rem;
border-radius: .25rem;
}

.number-input.number-input button {
width: 2.6rem;
height: .7rem;
}

.number-input.number-input button.minus {
padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
width: .7rem;
background-color: #495057;
}

.number-input.number-input input[type=number] {
max-width: 4rem;
padding: .5rem;
border: 1px solid #ced4da;
border-width: 0 1px;
font-size: 1rem;
height: 2rem;
color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
@supports (-webkit-appearance: none) and (stroke-color:transparent) {

.number-input.def-number-input.safari_only button:before,
.number-input.def-number-input.safari_only button:after {
margin-top: -.3rem;
}
}
}
.button{    padding: 7px;
    background: red;
    border: none;
    position: relative;
    top: 5px;
    border-radius: 5px;color: #fff;}
    .c1{color: #fff;}
    .v1{margin-top: 30px;margin-bottom: 30px; }
   .categorias {
    list-style: none;
    margin-left: -38px;
}
.subcategorias{margin-left: -21px;
    font-size: 13px;}
   .footer{    background: #d6d6d6;padding: 40px;} 
   #btn1 {color: #ffffff;
    background-color: red;
    border-color: #cc0000;}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 17px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255, 255, 255);
}
}
.categorias a{
    list-style: none;
    margin-left: -38px;
     color: #585858;
}
.categoria a{
    color: #585858;
    text-decoration: none;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }
}
@media only screen and (max-width: ) {
  .hidden-xs {
    display:block; 
  }
}

